
{% extends 'layouts/base.html.twig' %}

{% block title 'Estate Agency - Properties' %} 

{% block body %}
    <main id="main">
       {{ include('property/partials/_intro_single.html.twig') }}
    </main>
{% endblock %}
